/* 
    Created on : 06/09/2017, 14:57:36
    Author     : Juliana
*/
#principal{
    width: 1024px;
    margin: 0 auto;
}

#centralizar{
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

